
@font-face {
    font-family: Noto-Sans;
    src: url(fonts/NotoSans-Regular.ttf);
}
@font-face {
    font-family: Noto-Sans-Bold;
    src: url(fonts/NotoSans-Bold.ttf)
}

@font-face {
    font-family: Noto-Sans-SemiBold;
    src: url(fonts/NotoSans-SemiBold.ttf)
}

@font-face {
    font-family: Noto-Sans-Thin;
    src: url(fonts/NotoSans-Light.ttf)
}

html {
    font-family: 'Noto-Sans';
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(24, 24, 24);
}

/* Footer */
footer {
    background-color: rgb(34, 34, 34);
    padding: 3rem 10rem;
    color: white;
    width:auto
}

.footer {
    display: flex;
    justify-content: space-around;
}

.footer-content {
    width: 32rem;
    text-align: center;
}

.footer-list {
    list-style: none;
    padding: 0;
}

.footer-list li a {
    text-align: center;
    transition: 0.3s ease 0s;
}

.footer-list li a:hover {
    color: rgb(179, 179, 179);
}

.footer-bottom {
    text-align: center;
    align-content: center;
}

/* Text items */
h1 {
    font-size: 6rem;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 3rem;
    font-family: 'Noto-Sans-SemiBold';
}

h5 {
    font-size: 2rem;
}

p {
    font-size: 2rem;
    font-family: 'Noto-Sans-Thin';
}

/* Header items */

header li, a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5rem;
    background-color: rgb(24, 24, 24);
    font-family: 'Noto-Sans-Bold';
}

.nav-links {
    list-style: none;
    padding-left: 0px;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: 0.3s ease 0s;
}

.nav-links li a:hover {
    color: rgb(82, 82, 82);
}

header button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 3rem;
    padding: 1rem 3rem;
    font-family: 'Noto-Sans-Bold';
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s ease 0s;
}

header button:hover {
    background-color: rgb(82, 82, 82);
    color: white;
}

/* Div 1 items */

.div-1 {
    display: flex;
    justify-content: space-around;
    margin: 0;
    justify-items: center;
    text-align: center;
    flex-direction: column;
}

.div-1 h1 {
    color: white;
    margin-bottom: 7rem;
}

.div-1 a button {
    background-color: rgba(157, 0, 155, 0.5);
    border-width: 1rem;
    border-color: rgb(199, 0, 196);
    color: white;
    font-family: 'Noto-Sans-Bold';
    font-size: 5rem;
    border-radius: 5rem;
    width: 100rem;
    padding: 5rem 0rem;
    cursor: pointer;
    border-style:solid;
    box-shadow: 0 0 3rem 1.5rem rgba(255, 0, 251, 0.5);
    transition: 0.3s ease 0s;
}

.div-1 a {
    margin:0
}

.div-1 a button:hover {
    background-color: rgb(199, 0, 196);
}

.div-1 p {
    color: white;
}

.div-1-rows {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 0 20rem;
    margin-bottom: 6rem;
}

.div-1-subtext {
    align-items: center;
    text-align: center;
    margin-bottom: 6rem;
}

.div-1-rows-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 25rem;
}

.div-1-rows-box img {
    width: 16rem;
}

.div-1-rows-box h4 {
    margin: 0;
}

/*Div 2 Items*/

.div-2 {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    justify-items: center;
    text-align: center;
    flex-direction: column;
    padding: 5rem 25rem;
    margin-top: 3rem;
}

.div-2-row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-bottom: 6rem;
}

.div-2-row-reverse {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 6rem;
}

.div-2-img img{
    width: 30rem;
}

.div-2-card {
    max-width: 50rem;
    color: white;
}

.div-2-card p {
    font-size: 2.5rem;
}

/* Player */
.body {
    background-color: rgb(24, 24, 24);
    color: #ffffff;
    margin: 0;
    padding: 0;
    padding-top: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 120rem;
    padding: 20px;
    box-sizing: border-box;
    height: 100rem
}

.genre-header-container {
    max-width: 80rem;
    align-self: center;
    justify-self: center;
    align-content: center;
    justify-content: center;
    padding-bottom: 5rem;
}

.genre-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80rem;
    height: 20.2rem;
    border-radius: 5rem;
    background-size: cover;
    padding: 0;
}

.genre-header h1, .genre-header p {
    text-align: center;
    margin: 0;
}

.track-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.track {
    background-color: #282828;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 30px;
    height: 10rem;
}

.track-guidance {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.track-guidance-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.track-guidance-2 p {
    margin-right: 8.5rem;
}

.track-info {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.track-thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 15px;
}

.track-details {
    flex-direction: column;
    justify-content: space-around;
}

.track-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 0.9rem;
    width: 28rem
}
        
.play-pause-btn {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coming-soon {
    justify-content: center;
    text-align: center;
}

/* Album text */

.song-title p {
    font-size: 2.5rem;
    color: white
}

.artist p {
    font-family: "Noto-Sans-Bold";
    font-size: 2rem;
    color: white;
}

.genre p .length p {
    font-size: 2rem;
    color: white;
}

/* Selection page */
.selection-div-1 {
    text-align: center;
    color: white;
    margin-bottom: 10rem;
}

.selection-div-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 10rem;
}

.selection-div-2 a button {
    height: 24.5rem;
    width: 50rem;
}

.maths-select {
    background-image: url(images/maths-wallpaper.jpg);
    background-size: cover;
    border-width: 0.5rem;
    border-color: rgb(255, 255, 255);
    color: white;
    font-family: 'Noto-Sans';
    font-size: 5rem;
    border-radius: 5rem;
    padding: 5rem 0rem;
    cursor: pointer;
    border-style:solid;
    box-shadow: 0 0 3rem 1.5rem rgba(255, 255, 255, 0.5);
    transition: 0.3s ease 0s;
}

.maths-select:hover {
    border-color: rgb(154, 160, 255);
    box-shadow: 0 0 3rem 1.5rem rgb(181, 186, 255, 0.5);
}

.english-select {
    background-image: url(images/english-wallpaper.jpg);
    background-size: cover;
    border-width: 0.5rem;
    border-color: rgb(255, 255, 255);
    color: white;
    font-family: 'Noto-Sans';
    font-size: 5rem;
    border-radius: 5rem;
    padding: 5rem 0rem;
    cursor: pointer;
    border-style:solid;
    box-shadow: 0 0 3rem 1.5rem rgba(255, 255, 255, 0.5);
    transition: 0.3s ease 0s;
}

.english-select:hover {
    border-color: rgb(160, 160, 160);
    box-shadow: 0 0 3rem 1.5rem rgba(138, 138, 138, 0.5);
}

.computer-select {
    background-image: url(images/computer-wallpaper.jpg);
    background-size: cover;
    border-width: 0.5rem;
    border-color: rgb(255, 255, 255);
    color: white;
    font-family: 'Noto-Sans';
    font-size: 5rem;
    border-radius: 5rem;
    padding: 5rem 0rem;
    cursor: pointer;
    border-style:solid;
    box-shadow: 0 0 3rem 1.5rem rgba(255, 255, 255, 0.5);
    transition: 0.3s ease 0s;
}

.computer-select:hover {
    border-color: rgb(255, 220, 168);
    box-shadow: 0 0 3rem 1.5rem rgba(255, 220, 168, 0.5)
}

/* Misc */

.go-back {
    list-style: none;
    align-self: self-start;
}

.go-back li {
    display: inline-block;
}

.go-back li a {
    transition: 0.3s ease 0s;
    cursor:pointer;
}

.go-back li a:hover {
    color: rgb(82, 82, 82);
}

/* Donate Page */

.donate-heading {
    color: white;
    text-align: center;
    align-content: center;
    margin-bottom: 5rem;
}

.select-amount {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5rem;
}

.select-amount-input {
    border-radius: 2rem;
    border: 0.5rem solid white;
    color: white;
    background-color: rgba(109, 109, 109, 0.5);
    height: 8rem;
    width: 10rem;
    font-size: 5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.donate-disclaimer {
    color: white;
    text-align: center;
    margin-bottom: 5rem;
}

.payment-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.payment-box {
    width: 75rem;
    height: 50rem;
    border: 0.1rem solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    justify-content: center;
    align-content: space-evenly;
    border-radius: 1rem;
}

.card-imgs img {
    width: 8rem;
}

.payment-box h2 {
    text-align: center;
}

.payment-row-1 {
    display: flex;
}

.owner {
    width: 100%;
    margin-right: 4rem;
}

.payment-input-field {
    height: 4rem;
}

.payment-input-field input {
    width: 100%;
    height: 4rem;
    border: 1px solid #999;
    outline: none;
    font-size: 3rem;
}

.payment-date-selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payment-date-selection select {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 2rem;
}

.donate-confirm {
    background-color: rgb(43, 107, 226);
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-transform: none;
    padding: 1rem;
    font-size: 1.8rem;
    transition: 0.3s ease 0s;
}

.donate-confirm:hover {
    background-color: rgb(101, 153, 248);
}
